<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- <link href="./style.css" rel="stylesheet" type="text/css" /> -->

	<!-- CSS goes in the document HEAD or added to your external stylesheet -->
	{% include "css.njk" %}

	<title>{{title}}</title>
	<!-- momentjs is used for datetime parsing -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-duration-format/2.3.2/moment-duration-format.min.js"></script>
</head>
<body>
	<script>
		// globally track all tasks as parsed from the yaml by `maestro`
		const tasks = [];
	</script>
	{% include "overview.html" %}
	<div id="content">
		{{content}}
		{{footer}}
	</div>
	<script>{% include "timeline.js" %}</script>
</body>
</html>
