<div style='
    height: {{ height }}px;
    background-color: {{ fillColor }};
    border-top: solid {{ stroke }} 1px;
    border-bottom: solid {{ stroke }} 1px;
    font-size: {{ textSize }}px;
    {% if marginTop %}margin-top: {{ marginTop }}px; {% endif %}'>
    <span class='task-title'>{{ title }}</span>
    <span class='task-duration'>({{ duration }})</span>
</div>
