<div class="task-block"
     style='height: {{ height }}px;
        background-color: {{ fillColor }};
        font-size: {{ textSize }}px;'>
    <span class='task-title'>{{ title }}</span>
    <span class='task-duration'>({{ duration }})</span>
</div>
