<div>
    <label for="docx">Select a docx file</label>
    <select name="docx" id="dox">
        <% docxs.forEach((item)=>{ %>
            <option>
                <%=item%>
            </option>
        <% }) %>
        
    </select>
</div>