<div class='timeline'>
    <div class="column-pet">
        <div class='column-header'></div>
        <div class='timeline-markings align-right'>
            {% for timelineMarking in timelineMarkings %}
                <div class="timeline-marking" style="height: {{ timelineMarking.blockHeight }}px">
                    <div class="half-hour-increment">{{ timelineMarking.timeString }}</div>
                    <div class="tick"></div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% for column in columnDisplay %}
        <div class="column-ev">
            <div class='column-header'>
                {{ column.header }}
            </div>
            <div class="activity-blocks activity-blocks-{{ loop.index0 }}">
                {% for activityBlock in column.activityBlocks %}
                    {{ activityBlock }}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <div class="column-pet">
        <div class='column-header'></div>
        <div class='timeline-markings'>
            {% for timelineMarking in timelineMarkings %}
                <div class="timeline-marking" style="height: {{ timelineMarking.blockHeight }}px">
                    <div class="tick"></div>
                    <div class="half-hour-increment">{{ timelineMarking.timeString }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
