<%- include('header')%>



<div>
    <a href="/nasa-enter">&#8592Go back to main</a>
</div>
<div>
    <h5>Compare images</h5>
    <form action="/compareImg" method="post">
        <div>
            <%- include('comboSelect2')%>
        </div>
        <input type="submit" id="compareImg" name="compareImg" value="Compare images">
    </form>
</div>

<%- include('footer')%>