<%- include('header')%>

<div>
    <h5>File Conversion and Image Comparison</h5>
    <p><a href='createProject'>Create a new project</a></p>
    <p><a href='uploadDocx'>Upload a DOCX file</a></p>
    <p><a href='docxToPdf'>Convert DOCX to PDF</a></p>
    <p><a href='pdfToPng'>Convert PDF to Png</a></p>
    <p><a href='compareImg'>Compare two images</a></p>
</div>

<%- include('footer')%>